[Unit]
Description=Initialize Kubernetes cluster with kubeadm
After=multi-user.target network.target containerd.service
Requires=network.target containerd.service

[Service]
Type=oneshot
Environment="KUBECONFIG=/etc/kubernetes/admin.conf"
ExecStartPre=/bin/sh -c 'hostnamectl set-hostname kind-control-plane'
ExecStartPre=/bin/sh -c 'IP=$(ip -4 addr show eth0 | grep -o "inet [0-9.]*" | cut -d" " -f2) && sed -i "s/172.17.0.2/$IP/g" /kind/kubeadm.conf'

# kubeadm init
ExecStart=/bin/sh -c '/usr/bin/kubeadm init --config=/kind/kubeadm.conf --skip-token-print --v=6 > /dev/kmsg'
# TODO: install network addon
# wait pods ready
ExecStart=/bin/sh -c 'until kubectl wait --for=condition=Ready pod -A --field-selector=metadata.namespace=kube-system -l "k8s-app!=kube-dns" --timeout=5s; do sleep 1; done >>/dev/kmsg 2>&1'

# taint
ExecStartPost=/bin/sh -c 'kubectl --kubeconfig=/etc/kubernetes/admin.conf taint nodes --all node-role.kubernetes.io/control-plane- > /dev/kmsg'
# gracefully exit
ExecStartPost=/bin/sh -c 'systemctl exit 0'

User=root
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target